.Header-background {
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header-illustration {
  position: absolute;
  z-index: 0;
  top: -120px;
  height: 400px;
}

.Header-main {
  margin-bottom: 2em;
  margin-left: -200px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.Header-Benefit {
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
}

.Header-Benefit div:not(.Header-Benefit-image) {
  padding: 0px !important;
}

.Header-Benefit-content {
  flex-basis: 69%;
  max-width: 65%;
  padding: 10px 10px 10px 10px !important;
}

.Header-Benefit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.Header-Benefit-image img {
  max-width: 100%;
}

.benefit-row {
  min-height: 100px;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.0em;
}

.fade-enter {
  opacity: 0;
  transform: scale(0);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.textfield {
  display: block !important;
  width: 100% !important;
}

.Login-actions{
  margin-top: 1em;
  text-align: right;
}

.Login-background {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.FAB {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.PlaceH-avatar {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  overflow: hidden;
}

.PlaceH-avatar img {
  max-width: 80%;
}

.left-out-enter {
  opacity: 0;
  transform: translateX(100%);
}

.left-out-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.left-out-exit {
  opacity: 1;
  transform: translateX(100%);
}

.left-out-exit-active {
  opacity: 0;
  transform: translateX(0);
}